*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-evenly;
    align-content: center;
    height: 90%;
    width: 90%;
    box-shadow: 5px 5px 10px rgb(201, 201, 201),
                -5px -5px 10px rgb(223, 223, 223);
    background-color: rgba(242, 240, 240, 0.833);
    padding: 20px ;
    border-radius: 30px;
    position: relative;

    
}
.headers h1{
    font-weight: bold;
    color: rgb(21, 45, 97);
    font-size: 40px;

}
.headers h3{
    font-weight: bold;
    color: rgb(21, 45, 97);
}
.form-group input{
    padding: 10px 20px;
    height: 50px;
    border: none;
    box-shadow: 4px 2px 10px rgb(203, 202, 202),
                -4px -6px 10px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(247, 246, 246, 0);
}
.form-group label{
    font-size: small;
    color:rgb(21, 45, 97);
    margin-left: 10px;
}
.form-group{
    display: grid;
    width: 100%;
    gap: 5px;
    position: relative;
    /* background-color: rgb(206, 206, 251); */
}

.form-input-container{
    display: grid;
    gap: 30px;
}
.form-group a, a{
    text-decoration: none;
    color:  rgb(21, 45, 97) ;
    text-align: end;
}
.form-group a{
    font-size: 12px;

}
.icons img{
    /* height: 40px; */
    width: 20px;
    position: absolute;
    top: 2.2em;
    right: 0.5em;
}
.signInButton{
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    border: none;
    background-color: rgb(21, 45, 97);
    color: white;
    font-size: 16px;
    border-radius: 10px;
}
.sign-up-link{
    display: inline-block;
    font-size: 14px;
}
.sign-up-link a{
    font-weight: bold;
}
.message {
    font-size: 12px;
}




/* testing style */

input.valid{
    background-color: rgba(0, 128, 0, 0.076);
    box-shadow: 0px 0px 5px rgb(0, 128, 0);
}
input.notValid{
    background-color: rgba(255, 0, 0, 0.059);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.452);
}

.message.invalid{
    color: rgba(255, 0, 0, 0.757);
}
