*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: space-evenly;
    align-content: center;
    height: 90%;
    width: 90%;
    box-shadow: 5px 5px 10px rgb(201, 201, 201),
                -5px -5px 10px rgb(223, 223, 223);
    background-color: rgba(242, 240, 240, 0.833);
    padding: 20px;
    border-radius: 30px;
    
}
.headers h1{
    font-weight: bold;
    color: rgb(21, 45, 97);
    font-size: 40px;

}
.headers h3{
    font-weight: bold;
    color: rgb(21, 45, 97);
}
.form-group input{
    padding: 10px 20px;
    height: 50px;
    border: none;
    box-shadow: 4px 2px 10px rgb(203, 202, 202),
                -4px -6px 10px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(247, 246, 246, 0);
}
.form-group label{
    font-size: small;
    color:rgb(21, 45, 97);
    margin-left: 10px;
}
.form-group{
    display: grid;
    width: 70%;
    gap: 5px;

}
.form-input-container{
    display: grid;
    gap: 30px;
}
.form-group a{
    text-decoration: none;
    color:  rgb(21, 45, 97) ;
    text-align: end;
    font-size: 12px;
}
.icons img{
    height: 50px;
    width: 50px;
}
.signInButton{
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    border: none;
    background-color: rgb(21, 45, 97);
    color: white;
    font-size: 16px;
    border-radius: 10px;
}


